body {
    background-color: #22202060;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
#war {
    color:rgb(92, 39, 39); }
    
#paladin {
    color:rgb(218, 85, 184); 
   
}
#hunter {
    color:green; 
    
} 
#rog {
    color: yellow; 
}
#prist {
    color: white; 
    
}
#sham {
    color: blue;
}
#mage 
{color:rgb(26, 235, 235);
}
#warlock {
    color:rgb(58, 5, 83);
}
#druid 
{color: orange;
}
#dk {
    color: red;
}
.list-of-class-shadow {text-shadow: 1px 1px 1px #000}